{% extends 'base.html' %}


{% block title %}
<title>Про нас</title>
{% endblock %}


{% block content %}

<div class='container'>
    <h1>Про нас</h1>
    <p  class="fs-5 ">Наша компания работает уже более 15 лет. За эти долгие годы мы осчастливили незабываемым отпуском более 2500 человек.</p>
    <p  class="fs-5 ">Нас выбирают за:</p>
    <ul class="fs-5 " type="disc">
        <li>Большой выбор туров</li>
        <li>Адекватные цены</li>
        <li>Возможность выбрать комплектацию тура и не переплачивать за то, что вам не нужно</li>
        <li>Большой опыт работы</li>
    </ul>
    <p  class="fs-5 ">Присоединяйтесь к нам и мы гарантируем вам лучший отдых!</p><br>
    <p  class="fs-5 ">Вам что-то не понравилось? Тогда мы вернем вам деньги.</p><br><br>
    <p  class="fs-4 text-center">С уважением, компания MBarovTour</p>
</div>
{% endblock %}
